<h1>Individual Coupon Info</h1>


<h3>Coupon ID Number: <%= @coupon.id %></h3>
    <ul>
        <li><h1>Coupon Store: <%= @coupon.store %></h1></li>
        <li><h1>Coupon Code: <%= @coupon.coupon_code %></h1></li>
    </ul>